[2018-08-27 15:16] mperrin commented on #249
<a href="https://github.com/DaPhil"><img src="https://avatars0.githubusercontent.com/u/2248582?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [DaPhil](https://github.com/DaPhil)**
_Wednesday May 16, 2018 at 08:34 GMT_

----

Based on [this issue](https://github.com/astropy/astropy-helpers/issues/302) but without any real knowledge of what I am speaking of, it seems th

[2018-08-27 15:16] mperrin commented on #249
<a href="https://github.com/DaPhil"><img src="https://avatars0.githubusercontent.com/u/2248582?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [DaPhil](https://github.com/DaPhil)**
_Wednesday May 16, 2018 at 13:01 GMT_

----

You could just save the first seed and use it to initialize the phase screens. However, you would need to recalculate all phase screens for all w

[2018-08-27 15:16] mperrin opened #250 "Unified GPU framework using either CUDA or OpenCL"
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mperrin](https://github.com/mperrin)**
_Tuesday May 15, 2018 at 23:14 GMT_
_Originally opened as https://github.com/mperrin/poppy/pull/250_

----

This branch both adds support for OpenCL and refactors the CUDA implementation so

[2018-08-27 15:16] mperrin commented on #250
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Tuesday May 15, 2018 at 23:16 GMT_

----

@douglase here's the PR I promised for you to take a look at. In particular I'm hoping you can confirm that my various edits to your code didn't

[2018-08-27 15:16] mperrin commented on #250
<a href="https://github.com/coveralls"><img src="https://avatars1.githubusercontent.com/u/2354108?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [coveralls](https://github.com/coveralls)**
_Tuesday May 15, 2018 at 23:33 GMT_

----

[![Coverage Status](https://coveralls.io/builds/17021495/badge)](https://coveralls.io/builds/17021495)

Coverage increased (+0.1%) to 63.6

[2018-08-27 15:16] mperrin commented on #250
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Wednesday May 16, 2018 at 15:57 GMT_

----

Yeah I realized last night after submitting this that I had accidentally left a bunch of debugging print statements in there unintentionally.

[2018-08-27 15:16] mperrin commented on #250
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Wednesday May 16, 2018 at 16:13 GMT_

----

oh, actually it's worse than just unnecessary IO, since those debug statements were also summing the total intensity before and after each FFT

[2018-08-27 15:16] mperrin commented on #250
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Wednesday May 16, 2018 at 16:27 GMT_

----

plus I wasn't using your _fftshift wrapper properly.

[2018-08-27 15:16] mperrin commented on #250
<a href="https://github.com/douglase"><img src="https://avatars1.githubusercontent.com/u/1025951?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [douglase](https://github.com/douglase)**
_Wednesday May 16, 2018 at 20:20 GMT_

----

a6b632861ad278931c849d343f18e6b743a74139 runtimes are looking good

[2018-08-27 15:16] mperrin commented on #250
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Wednesday May 16, 2018 at 21:14 GMT_

----

I was able to run the test suite a dozen times in a row with no memory errors, which is far beyond the problems I was seeing before. I'm almos

[2018-08-27 15:16] mperrin commented on #250
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Wednesday May 30, 2018 at 18:21 GMT_

----

@douglase I'm going to go ahead and merge this PR now. I had hoped to get this poppy release done and out the door this week. At this point I'

[2018-08-27 15:16] #250 closed

[2018-08-27 15:16] mperrin opened #251 "test function `test_fresnel_FITS_Optical_element` misses the point"
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mperrin](https://github.com/mperrin)**
_Tuesday May 15, 2018 at 23:24 GMT_
_Originally opened as https://github.com/mperrin/poppy/issues/251_

----

Not sure how this got missed before. Despite the name of that function, it appe

[2018-08-27 15:16] mperrin opened #252 "Bug in QuadraticPhase?"
<a href="https://github.com/DaPhil"><img src="https://avatars0.githubusercontent.com/u/2248582?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [DaPhil](https://github.com/DaPhil)**
_Thursday May 17, 2018 at 13:15 GMT_
_Originally opened as https://github.com/mperrin/poppy/issues/252_

----

Hi,
I just discovered something I am pretty sure is a bug. Although I tried to di

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/DaPhil"><img src="https://avatars0.githubusercontent.com/u/2248582?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [DaPhil](https://github.com/DaPhil)**
_Thursday May 17, 2018 at 14:22 GMT_

----

Ok, I just saw that the FresnelWavefront class overwrites the imul method to use the apply_lens method if a QuadraticLens is about to be applied.

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/DaPhil"><img src="https://avatars0.githubusercontent.com/u/2248582?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [DaPhil](https://github.com/DaPhil)**
_Thursday May 17, 2018 at 14:27 GMT_

----

Ok, QuadPhase is the thing I need to use to overcome this issue. I don't think that this is the intended behavior (since it is used in the noteboo

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Thursday May 17, 2018 at 14:33 GMT_

----

The units issue definitely sounds like a bug.

As for applying the phase you want, you’re right there’s a subtle distinction between just apply

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Thursday May 17, 2018 at 14:35 GMT_

----

Ah yes, you can use QuadPhase rather than QuadLens. We could clarify the distinction better in the docs. Sounds like that notebook may need an

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Thursday May 17, 2018 at 16:55 GMT_

----

Examining the log clarifies a bit what is going on. Here's examples of the output log for the two cases of using QuadPhase and QuadraticLens.

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/douglase"><img src="https://avatars1.githubusercontent.com/u/1025951?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [douglase](https://github.com/douglase)**
_Thursday May 17, 2018 at 23:22 GMT_

----

The notebook example is a little over complicated, since it includes two lenses, but it illustrates how you add lenses in a way that updates

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/DaPhil"><img src="https://avatars0.githubusercontent.com/u/2248582?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [DaPhil](https://github.com/DaPhil)**
_Friday May 18, 2018 at 06:45 GMT_

----

The notebook fails e.g. in *Example 2: Divergence of a Gaussian Beam near the Beam Waist* when using `wf0 = poppy.FresnelWavefront(beam_radius=1*u.m

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/DaPhil"><img src="https://avatars0.githubusercontent.com/u/2248582?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [DaPhil](https://github.com/DaPhil)**
_Friday May 18, 2018 at 06:51 GMT_

----

From the `init` of `class Wavefront` in poppy_core.py:
[code]
The wavelength is never scaled to meters. But it should? Or should one always use the

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/douglase"><img src="https://avatars1.githubusercontent.com/u/1025951?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [douglase](https://github.com/douglase)**
_Monday May 21, 2018 at 13:10 GMT_

----

yikes, it does look like something is up with that aliasing. I can reproduce it by propagating directly to 1900*u.m with this minimum working

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/douglase"><img src="https://avatars1.githubusercontent.com/u/1025951?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [douglase](https://github.com/douglase)**
_Thursday May 24, 2018 at 23:26 GMT_

----

@DaPhil on closer inspection, I'm not as sure this is a bug. I haven't been able to find any errors in the calculation and if I increase the

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/douglase"><img src="https://avatars1.githubusercontent.com/u/1025951?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [douglase](https://github.com/douglase)**
_Thursday May 24, 2018 at 23:27 GMT_

----

(With respect to the note above about converting the units to meters, if the value has units of length, whether they are centimeters or pars

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/DaPhil"><img src="https://avatars0.githubusercontent.com/u/2248582?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [DaPhil](https://github.com/DaPhil)**
_Friday May 25, 2018 at 08:35 GMT_

----

Bug is certainly not the right word for it I think. I also noticed that I can make it work by increasing the oversampling and resolution. But first,

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/douglase"><img src="https://avatars1.githubusercontent.com/u/1025951?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [douglase](https://github.com/douglase)**
_Friday May 25, 2018 at 12:06 GMT_

----

## aliasing:

have you tried propagating the same array in both libraries? POPPY doesn't have smoothed apertures yet (see #129 and #180) so th

[2018-08-27 15:17] mperrin commented on #252
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Friday May 25, 2018 at 14:55 GMT_

----

**Aliasing:**  Agreed re: doing tests with the same sampling. Note that the minimum recommended value of sampling is 2. (i.e. 2 points per lambda

[2018-08-27 15:17] mperrin opened #253 "Implement ThermalBloomingWFE"
<a href="https://github.com/DaPhil"><img src="https://avatars0.githubusercontent.com/u/2248582?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [DaPhil](https://github.com/DaPhil)**
_Friday May 18, 2018 at 09:55 GMT_
_Originally opened as https://github.com/mperrin/poppy/issues/253_

----

I implemented the capability to calculate thermal blooming effects with poppy. For

[2018-08-27 15:17] mperrin commented on #253
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Friday May 18, 2018 at 12:25 GMT_

----

Thanks. Yes, given other commitments and deadlines I probably won’t look at this for a while. Likely not until after the SPIE conference in June.

[2018-08-27 15:17] mperrin opened #254 "Remove unused imports"
<a href="https://github.com/rth"><img src="https://avatars0.githubusercontent.com/u/630936?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rth](https://github.com/rth)**
_Tuesday May 22, 2018 at 13:06 GMT_
_Originally opened as https://github.com/mperrin/poppy/pull/254_

----

This PR removes a few unused imports -  PEP8 and also helps code readability.

----

_**[rth](

[2018-08-27 15:17] mperrin commented on #254
<a href="https://github.com/coveralls"><img src="https://avatars1.githubusercontent.com/u/2354108?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [coveralls](https://github.com/coveralls)**
_Tuesday May 22, 2018 at 13:25 GMT_

----

[![Coverage Status](https://coveralls.io/builds/17105071/badge)](https://coveralls.io/builds/17105071)

Coverage increased (+0.5%) to 64.0

[2018-08-27 15:17] mperrin commented on #254
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Tuesday May 22, 2018 at 13:54 GMT_

----

Thanks! A nice little cleanup.

[2018-08-27 15:17] #254 closed

[2018-08-27 15:18] mperrin opened #255 "fix errors statements to refer to the correct calling function name."
<a href="https://github.com/douglase"><img src="https://avatars1.githubusercontent.com/u/1025951?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [douglase](https://github.com/douglase)**
_Thursday May 31, 2018 at 21:58 GMT_
_Originally opened as https://github.com/mperrin/poppy/pull/255_

----

----

_**[douglase](https://github.com/douglase)** included the following cod

[2018-08-27 15:18] mperrin commented on #255
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Thursday May 31, 2018 at 22:03 GMT_

----

only changes error message strings - no need to wait for CI to finish.

[2018-08-27 15:18] #255 closed

[2018-08-27 15:18] mperrin opened #256 "loading FFTW wisdom from disk is unreliable?"
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mperrin](https://github.com/mperrin)**
_Thursday May 31, 2018 at 23:37 GMT_
_Originally opened as https://github.com/mperrin/poppy/issues/256_

----

Noticed by @douglase . When you import poppy it doesn't seem to be loading the

[2018-08-27 15:18] mperrin opened #257 "re-importing modules breaks fresnel propagation"
<a href="https://github.com/douglase"><img src="https://avatars1.githubusercontent.com/u/1025951?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [douglase](https://github.com/douglase)**
_Sunday Jun 03, 2018 at 17:01 GMT_
_Originally opened as https://github.com/mperrin/poppy/issues/257_

----

@mperrin, I found the bit of code that was breaking coronagraph sims during b

[2018-08-27 15:18] mperrin commented on #257
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Sunday Jun 03, 2018 at 18:46 GMT_

----

Nice debugging to track down where that glitch was coming from. Not so surprising- reloading modules is pretty brittle and unreliable.  I’m sure

[2018-08-27 15:18] mperrin commented on #257
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Monday Jul 09, 2018 at 17:20 GMT_

----

Do we think there is actually any change needed for this, or is it just a matter of 'don't use the reload function, it's not reliable'?

[2018-08-27 15:18] mperrin commented on #257
<a href="https://github.com/douglase"><img src="https://avatars1.githubusercontent.com/u/1025951?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [douglase](https://github.com/douglase)**
_Monday Jul 09, 2018 at 17:27 GMT_

----

The latter is probably OK for now, do we need to include it in a troubleshooting doc or do we feel this issue is this sufficient documentation

[2018-08-27 15:18] mperrin opened #258 "Fix type of beam_ratio in FresnelOpticalWavefront"
<a href="https://github.com/sdwill"><img src="https://avatars1.githubusercontent.com/u/5713843?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sdwill](https://github.com/sdwill)**
_Monday Jul 02, 2018 at 22:05 GMT_
_Originally opened as https://github.com/mperrin/poppy/pull/258_

----

The beam_ratio parameter is specified as int, but should be float, since it is given

[2018-08-27 15:18] mperrin commented on #258
<a href="https://github.com/coveralls"><img src="https://avatars1.githubusercontent.com/u/2354108?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [coveralls](https://github.com/coveralls)**
_Monday Jul 02, 2018 at 22:28 GMT_

----

[![Coverage Status](https://coveralls.io/builds/17800477/badge)](https://coveralls.io/builds/17800477)

Coverage increased (+0.6%) to 64.16

[2018-08-27 15:18] mperrin commented on #258
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Monday Jul 09, 2018 at 16:10 GMT_

----

Thanks @sdwill, good catch.

[2018-08-27 15:18] #258 closed

[2018-08-27 15:18] mperrin opened #259 "Update to _calc_psf_format_output to work for any number of extensions"
<a href="https://github.com/shanosborne"><img src="https://avatars1.githubusercontent.com/u/31218961?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [shanosborne](https://github.com/shanosborne)**
_Tuesday Jul 03, 2018 at 19:50 GMT_
_Originally opened as https://github.com/mperrin/poppy/pull/259_

----

Update this function to work on any number of extensions.

This is p

[2018-08-27 15:18] mperrin commented on #259
<a href="https://github.com/coveralls"><img src="https://avatars1.githubusercontent.com/u/2354108?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [coveralls](https://github.com/coveralls)**
_Tuesday Jul 03, 2018 at 20:22 GMT_

----

[![Coverage Status](https://coveralls.io/builds/17818748/badge)](https://coveralls.io/builds/17818748)

Coverage increased (+0.01%) to 63.

[2018-08-27 15:18] #259 closed

[2018-08-27 15:18] mperrin opened #260 "Clone / copy repo to https://github.com/spacetelescope/poppy"
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mperrin](https://github.com/mperrin)**
_Monday Jul 09, 2018 at 17:13 GMT_
_Originally opened as https://github.com/mperrin/poppy/issues/260_

----

- [x] Copy the code
- [x] Copy the open issues and PRs
- [x] Update URL links in

[2018-08-27 15:18] mperrin opened #261 "Adding user-defined Fresnel wavefront error"
<a href="https://github.com/mb2448"><img src="https://avatars3.githubusercontent.com/u/1314227?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mb2448](https://github.com/mb2448)**
_Monday Jul 30, 2018 at 21:41 GMT_
_Originally opened as https://github.com/mperrin/poppy/issues/261_

----

cf #1: Is it possible to add wavefront error to a Fresnel wavefront if it is not on

[2018-08-27 15:18] mperrin commented on #261
<a href="https://github.com/mb2448"><img src="https://avatars3.githubusercontent.com/u/1314227?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mb2448](https://github.com/mb2448)**
_Monday Jul 30, 2018 at 23:40 GMT_

----

Never mind, you can do this with the ArrayOpticalElement class, which I did not have with version 0.6.  Here is an implementation below showing that

[2018-08-27 15:18] mperrin commented on #261
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Tuesday Jul 31, 2018 at 00:14 GMT_

----

Great, glad you figured this out, Michael.

The problem with the first version is that the `*=` invokes the ``Wavefront.__imul__`` function, whi

[2018-08-27 15:18] mperrin commented on #261
<a href="https://github.com/mb2448"><img src="https://avatars3.githubusercontent.com/u/1314227?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mb2448](https://github.com/mb2448)**
_Tuesday Jul 31, 2018 at 22:23 GMT_

----

Thanks Marshall.  In my opinion it would be useful to allow for multiplication by complex matrices of the correct shape natively, without passing t

[2018-08-27 15:18] #261 closed

[2018-08-27 15:18] mperrin opened #262 "Remove all Python 2.x items"
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mperrin](https://github.com/mperrin)**
_Thursday Aug 16, 2018 at 01:21 GMT_
_Originally opened as https://github.com/mperrin/poppy/issues/262_

----

Borrowing from the to-do list at https://github.com/astropy/astropy/issues/623

[2018-08-27 15:18] mperrin commented on #262
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Thursday Aug 16, 2018 at 01:22 GMT_

----

also

- [ ] remove the back ported version of `lru_cache` in the `vendor` directory.

[2018-08-27 15:18] mperrin commented on #262
<a href="https://github.com/mperrin"><img src="https://avatars0.githubusercontent.com/u/1151745?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mperrin](https://github.com/mperrin)**
_Thursday Aug 16, 2018 at 01:25 GMT_

----

and update the documentation and setup config to enforce a minimum Python version of 3.4.

[2018-09-18 22:37] mperrin commented on #262
Min version 3.5 (same as astropy currently) enforcement added in 83ba201

[2018-09-18 22:37] mperrin commented on #262
- [ ] remove `from __future__` imports

[2018-11-06 17:57] kjbrooks opened #263 "`zernike.opd_expand_nonorthonormal` and `zernike.opd_expand_segments` give different results for the same inputs"
In trying to reconstruct a JWST OPD, I found that using the new `zernike.opd_expand_segments`, I was getting strange results for segments C3 and C4 (behind the diagonal struts) that did not match the reconstruction that I was getting when I used `zernike.opd_expand_nonorthonormal` previously. My understanding is that `zernike.opd_expand_segments` should not give different results, just be more eff

[2018-11-08 13:51] mperrin commented on #263
@kjbrooks, could you send me or post here a bit more of the notebook setting up your problem case? In particular the above code samples appear to be using a `get_basis` function defined elsewhere. I’d like to see if I can find time today or tomorrow to start digging into what’s going on here...

[2018-11-08 15:34] kjbrooks commented on #263
In the case above that you mention, `get_basis` is defined in the functions I copied above. I have noticed if that function exists outside of these functions, there is some hysteresis. I am working on a simplified notebook now and will attach it when I am done.

[2018-11-08 15:48] mperrin commented on #263
Aha,  I didn’t read the above code. But I think there may be a problem in having the basis variable defined after the get_basis function! Try flipping the order of those.

[2018-11-08 16:15] kjbrooks commented on #263
I think I have identified at least part of the issue. In creating a simplified notebook I discovered that my results (while still different between `opd_expand_nonorthonormal` and `opd_expand_segments`) were different than when I posted the above result plots. Part of this is notebook issues (read: human error) since I thought I had re-run the cells, but either I forgot, or something else happened

[2018-11-08 18:08] mperrin commented on #263
The default iterations stuff bothers me; I don't know why it needs to be so high. Need to figure out a way to make this a more automatic process, where for instance you give it a desired tolerance and it automatically iterates until it achieves that tolerance.  I'll take a look at the notebook, thanks.

[2018-11-08 19:29] kjbrooks commented on #263
And here is [grab_opd_info.py](https://gist.github.com/kjbrooks/115921b6ed782b0b38a1332b119bd991) since that is necessary to run the notebook.

[2018-11-26 19:39] mperrin commented on #170
This is an old/stale issue and is mostly out of date relative to current code status of the helpers and package template. I don't see any need to keep this issue open longer now.

[2018-11-26 19:39] #170 closed

[2018-11-27 23:13] mperrin commented on #251
work in progress to fix this

[2018-11-27 23:13] mperrin commented on #191
work in progress to fix this

[2018-11-28 01:19] mperrin commented on #242
I have a fix for this working locally now. Needs a bit more testing but should be a PR shortly.

[2018-11-28 21:10] mperrin commented on #262
Found one more Py2-ism  in the testing code, which gets removed in #264. Other than that, this code all appears thoroughly de-python-2'ed at this point. I think it's sufficient for this issue to be considered closed.

[2018-11-28 21:10] #262 closed

[2018-11-28 21:10] mperrin commented on #129
Another year, another release, and this still hasn't bubbled up to the top of the priority stack. Not going to make it into the 0.8 release.

[2018-11-28 21:13] mperrin commented on #257
@douglase do you have any objections to my closing this issue? I will consider this closed if I don't hear an objection by the end of this week. I think that's fair since this was related to a test notebook issue rather than any problem in the package itself, and the relevant code functionality was improved anyway in the PR #250

[2018-11-28 22:16] mperrin commented on #246
Fixed locally, will PR shortly. (started to set up a PR now but it will be cleaner after #264 gets merged, since I bsaed the fix after that)

[2018-11-29 03:05] douglase commented on #257
no objections

[2018-12-04 20:20] #257 closed

[2018-12-05 01:12] #191 closed

[2018-12-05 01:12] #242 closed

[2018-12-05 01:12] #251 closed

[2018-12-06 21:22] mperrin opened #271 "Implement and test PSD class for optical noise"
Assigned to Iva Laginja (for optics lab work) but I can't seem to tag here here.

[2018-12-06 21:22] mperrin opened #272 "add CircularPhaseMask class"
Needed for Zernike WFS simulator for optics lab.

[2018-12-07 21:32] mperrin commented on #247
(This was "low priority" but I recently found that it leads to a bug for trying to put the weak lenses in a WebbPSF instance, so the priority for this just went up. Not sure how that wasn't caught before.)

Not only do these parameters have different syntax, they have different semantics. The FITSOpticalElement parameters are "fraction of pupil, from 0 to 1, relative to the FITS array size". The A

[2018-12-07 22:12] mperrin opened #275 "FITSOpticalElement rotation has the wrong sign"
Docstring says positive rotations are counterclockwise:
[code]
But that's not what the behavior is:

[code]
![unknown](https://user-images.githubusercontent.com/1151745/49675313-24166380-fa43-11e8-9338-c8f3e33ed7c0.png)

AnalyticOpticalElement rotations are in fact counterclockwise, so right now I believe it is just FITSOpticalElement that needs attention.

[2018-12-10 17:54] mperrin opened #277 "DeformableMirror performance issues"
Reported by @sdwill: The `get_opd` function can be very slow for the DeformableMirror class, in some circumstances with large numbers of actuators or high sampling.

In particular, a low-hanging fruit for efficiency is that the evaluation of the OPD should be done for just inside the DM aperture, not including all the zero padding in the wavefront.

@sdwill has volunteered to work on this.

[2018-12-10 21:52] mperrin opened #279 "Option to return complex wavefront is not documented & hard-to-find"
In https://github.com/spacetelescope/poppy/issues/234 (originally https://github.com/spacetelescope/mperrin/issues/234), @douglase added a feature suggested by @jlumbres: an option to return the complex wavefront instead of (in addition to?) returning the real-valued PSF.

This is useful, but not at all documented anywhere. @sdwill had no idea this feature existed but it would have been useful to

[2018-12-10 22:03] #272 closed

[2018-12-10 22:17] douglase commented on #279
There is some documentation of the feature in the description of [propogate_mono()](https://github.com/spacetelescope/poppy/blob/master/poppy/poppy_core.py#L1433), are you thinking it should be described in an example or elsewhere?

[2018-12-10 22:20] mperrin commented on #279
Some mention somewhere in the Sphinx docs perhaps? Not sure. I don't have a specific fix in mind.

But demonstrably we should probably do _something_ since Scott asked for this feature and didn't realize you'd already implemented it...  (Then again, part of the problem is the gradual complexification of this API over time, which makes it harder to convey or even state all of what's in there.)

[2018-12-10 22:23] mperrin commented on #279
(More generally @douglase, it would be great if you could chat with @sdwill sometime. What you're both doing for WFIRST and LUVOIR modeling respectively has a lot of similarities, I think... )

[2018-12-10 22:33] mperrin opened #280 "Passing wavefronts from one OpticalSystem to another"
This one's tricky. Issue raised by @sdwill:

Right now there is no way to "connect together" multiple optical systems, in the sense of taking an output wavefront from a propagation through one system, and feeding it into a propagation through another system. This could be useful in a variety of contexts including
 - Building separate, modular optical system models for e.g. telescope and instrument

[2018-12-10 23:46] mperrin commented on #279
One possible place to put this in the docs would be this page: https://poppy-optics.readthedocs.io/en/latest/options.html

But that's still got a great solution. In part because the docs could use a more substantial overhaul...

[2018-12-11 00:15] #246 closed

[2018-12-11 03:46] mperrin commented on #280
Thought about this some more. Possibly the right mental model here is to think of optical systems as linear operators acting on wavefronts.  That's true mathematically, but not in how the code here is currently implemented. One could imagine a function on an optical system, maybe call it `propagate_through`, which takes a wavefront and returns another wavefront:
[code]
That would make it easy to c

[2018-12-19 15:49] laurenmarietta opened #285 "Re-assign BUNIT hdr keyword sooner"
When an OPD file is loaded into a `FITSOpticalElement`, it is quite immediately re-scaled to be in units of meters (`poppy_core.py`, lines 2381-2387). However, the `BUNIT` header keyword corresponding to the OPD is not re-written to reflect this. This confused me, as I was looking at OPD arrays and seeing perturbations on the scale of meters, while the `opd_header` was still telling me the units w

[2018-12-19 21:37] mperrin commented on #285
That makes sense, sure. Thanks!

[2019-02-07 22:18] corcoted opened #287 "Notebook examples use deprecated function names"
Some of the example notebooks no longer run since the name changes in version 0.8.0 because they use deprecated function names (e.g. calcPSF).

Should just need to rename.

[2019-02-07 23:59] corcoted commented on #287
Submitted pull request #288

[2019-02-08 00:00] corcoted commented on #287
It also looks like some of the tests still use the old function names, but I haven't been able to run them to check (config problem on my end).

[2019-02-11 17:42] mperrin opened #289 "Upstream astropy removal of astropy.tests.pytest_plugins"
Apparently `astropy.tests.pytest_plugins` is moved someplace else in the next astropy. Not sure what change(s) we need to make in response to this. But right now our Travis builds are failing on the astropy development test case:

See for instance this failing Travis build:
https://travis-ci.org/spacetelescope/poppy/jobs/490316242

@shanosborne @robelgeda could one of you please take a look at thi

[2019-02-11 17:42] #260 closed

[2019-02-11 17:43] #285 closed

[2019-02-11 17:52] mperrin commented on #280
@sdwill and @douglase - I'd appreciate some feedback & thoughts on this one.

FYI I've got a version of the above implemented now, and will be making a PR for comments shortly. It's a moderately substantial refactoring, which pulls out most of the contents of `propagate_mono` into a new function with a different API as described above. That new function is a linear operator that takes an input com

[2019-02-11 21:44] mperrin opened #291 "think more about different PSF centering between Fresnel & Fraunhofer modes"
For historical reasons related to sampling choices in MFT vs. FFT algorithms, output PSF centerings are slightly different between Fraunhofer & Fresnel calculations for even number of pixels. Here I'm talking about where the PSF peak intensity is, in the ideal case with zero tilt etc.

- Fraunhofer mode: PSF is centered in the exact middle of the output array, e.g. for 128^2 pixels, the PSF is cen

[2019-02-12 15:41] mperrin commented on #287
I found and fixed some instances of `_getOpticalSystem` in one of the test files, but that's all I can find in the tests. Are there other instances of any old function names that I'm missing?

[2019-02-12 16:57] mperrin opened #292 "more consistent FresnelOpticalSystem and OpticalSystem APIs"
See comments on #290: https://github.com/spacetelescope/poppy/pull/290#discussion_r255790877

It would ease the learning curve if both FresnelOpticalSystem and OpticalSystem had APIs as consistent as possible, in terms of how they define the wavefront sampling parameters (oversample vs. beam ratio etc). Probably a good idea to refactor & clarify this API eventually, but if we're going to do so, we

[2019-02-14 21:49] mperrin commented on #289
@shanosborne @robelgeda did either of you get a chance to look at this yet? It would be nice to get it fixed, since the Travis builds are all being marked as failures right now because of this upstream change.

[2019-02-14 22:34] shanosborne commented on #289
@mperrin I've been out on vacation the past few days so I just saw this today. I'll get on it asap!

[2019-02-14 23:04] robelgeda commented on #289
Hi Marshall, I have a sprint this week but I see Shannon picked it up.

[2019-02-18 21:25] shanosborne commented on #289
I'm going to include some relevant links to this issue so that I can find them later if needed:

* Discussion of the timeline of the pytest_plugins issue by astropy people: https://github.com/astropy/astropy/issues/7782
* PR that closes the above issue and removes pytest_plugins: https://github.com/astropy/astropy/pull/7786
* Example fix for users pointed to in that PR: https://github.com/astropy/

[2019-02-19 15:51] #289 closed

[2019-02-19 19:01] #280 closed

[2019-02-19 19:28] mperrin opened #295 "add/update docs for refactored propagation methods"
See #280 and #290. Should write up a doc notebook explaining these additions and how to use them.

[2019-02-19 19:28] mperrin commented on #287
Fixed by #288

[2019-02-19 19:28] #287 closed

[2019-02-25 18:22] robelgeda opened #297 "Coveralls"
Coveralls is no longer reliable because github changed the way that 3rd party apps are integrated and coveralls appears to have done nothing to fix it. Its not clear if they will address this which means we should look for alternative services. One option that is currently popular is [Codecov](https://codecov.io).

Related to #294 #296
cc: @mperrin @shanosborne

[2019-02-25 18:30] mperrin commented on #297
I'm on board with switching to codecov. Is there recommended template setup for that we can lift from another ST package?

[2019-02-25 18:47] robelgeda commented on #297
I don't think ST has any templets for integration setup. I need to look into resources on how to.

[2019-03-15 13:35] FredericCassaing opened #301 "Phase and Amplitude modulation"
Hi Poppy,
I am completely new to poppy (&github btw) but I have chosen to use this nice tool for my research rather than my custom IDL tools.
However, I would like to implement various kinds of focal-plane WFSs, and there are a few things I have not seen reading the documentation.  Is it possible with the current poppy, or expected with next versions, to perform :
- phase modulation : define a "di

[2019-03-15 15:30] mperrin commented on #301
Hi again Frederic,

For phase modulation, there isn't a single function that does exactly what you're asking, but it's fairly straightforward to iterate over a desired diversity yourself and save the output PSFs into a list. Here is some example code:

[code]

In this case you get a list of PSFs rather than a 3D data cube, but desired you can reformat that output data into a data cube via regular

[2019-03-15 15:58] FredericCassaing commented on #301
Dear Marshall,
Thank you so much for such a fast answer and your example based on poppy iterations.
This confirms what I wanted to be sure of: there is no way to create arrays (or lists, I am not a python expert either) such as zernike_coef[index,time] or dm_coef[mode,sub-ap,time] and get psf[pixX,pixY,time].  Is this something that could be of interest to you ? To model dynamic behavior, or modul

[2019-03-20 14:01] FredericCassaing opened #302 "Digitization control"
Dear Marshall,
We would like to have a clear understanding about how poppy input parameters (which are actual physical values: wavelength, pixel angular size, fov, sampling factor, pupil diameter or face-to-face and gap) are converted to discrete arrays (total number of pixels, padding, pup/foc pixel size) in link of course with the sampling factor. We did not find direct information in the poppy

[2019-03-20 16:25] mperrin commented on #302
In general there is complete flexibility to make the pixel scale of the discrete arrays whatever you would like in both the pupil plane and image plane, independently of each other.  While the FFT imposes a fixed relationship between the sampling in one plane and the sampling in the other, the MFT is more general, and the transform parameters can be adjusted to go from any pupil plane scale to any

[2019-03-21 11:01] LucasMarquis opened #303 "MultiHexagonAperture - large gap related problem"
Dear Marshall,
We (FredericCassaing and I...) are faced with an alignment problem when calling the "poppy.MultiHexagonAperture" function (and, as a result, so does the "poppy.dms.HexSegmentedDeformableMirror" function). This is clearly visible when requiring a MultiHexagonAperture with a flattoflat/gap ratio lower than typical segmented pupils.  As you might notice on the attached picture, the rin

[2019-03-21 11:34] #302 closed

[2019-03-21 11:45] FredericCassaing commented on #302
Dear Marshall,
thank you very much for this quick and complete answer. I closed the issue.
In the meantime we realized (but your comment is still very apreciated as it
explains how things work) that the bad positions we had are not linked to
bad integer truncations but rather seem linked to some kind of
mis-positionning from your code (cf issue #303).

By the way, since all relies on MFT, which ca

[2019-03-21 12:18] mperrin commented on #303
Interesting! Thanks for this issue report. The explanation you propose seems likely to be correct, yes. Have you tested it by removing or commenting out the “rings=3” branch of the code?

The history of that code is it was originally written in a less general way and only supported 1, 2, or 3 rings; then some time later I worked out the more generalized geometry. I suspect (but will check) that we

[2019-03-21 12:25] mperrin commented on #302
Replying to your question about speeding up the calculation - I have experimented a bit with code paths like that for acceleration. However the calculation of the coefficient arrays turns out not to be a significant part of the overall computation time. The matrix dot products are the large majority of the time. So in my tests I saw negligible speed ups from trying to precompute coefficients, and

[2019-03-21 20:54] joseph-long opened #305 "BUNIT of 'radian' for FITSOpticalElement"
While implementing our fancy vector apodizing phase plate in a POPPY model, I realized there's no obvious way to define a FITSOpticalElement in terms of phase alone. Because vAPPs  use "vector phase", the phase map is actually defined in radians / waves independent of wavelength.

If there's interest, I'd like to add support for phase maps in radians for FITSOpticalElements. Of course, I could jus

[2019-03-21 21:04] mperrin commented on #305
Yeah, sure, sounds useful. -- And you've surely earned the right to just submit any PR you want into this without having to ask first! :-)

[2019-03-25 03:30] mperrin commented on #303
PR submitted to fix this in #307

[2019-03-25 14:53] mperrin opened #308 "Addition of wavefronts should be stricter"
As I noted in [this comment](https://github.com/spacetelescope/poppy/pull/304/files#r267930019) - it should only be possible to add Wavefronts that are physically compatible. Same wavelength, same pixel scale, same kind of optical plane, same type (Fresnel/Fraunhofer), etc. The current code doesn't strictly check these sorts of things.

[2019-03-25 18:17] mperrin commented on #129
Still ought to be done. This has come up in the context of optics lab work (hicat sim and eclips) so may finally be time to get this done.

I have a mostly-working implementation in the `subpixel_geometry` branch in my repo. I just rebased this onto the current master, and am working through a few test failures. For instance right now one of the Fresnel tests is no longer passing within the tolera

[2019-03-25 18:20] #305 closed

[2019-03-25 20:41] mperrin commented on #301
We're certainly interested in modeling dynamics and modulated systems! But it's hard to write a generalized solution for all of that - different optical models will have many different possible modulations. For instance you gave examples of possibly varying Zernike coefficients vs. time or DM coefficients vs time, there's also for instance Kolmogorov turbulence vs time, or any number of other para

[2019-03-26 12:30] #301 closed

[2019-03-26 12:31] FredericCassaing commented on #301
Dear Marshall,

Thank you very much for this detailed answer.

If we have to write something new, we will do it with a recycling spec in
mind and try to make something general that can be added to poppy (a kind of
multipsf procedure). I agree it is not simple since the iterable input can
take several forms.
And similarly, if we make some new amplitude control, I will certainly do
something as gene

[2019-03-27 15:43] #303 closed

[2019-04-03 19:51] ivalaginja opened #309 "Broken display() method for HexSegmentedDeformableMirror() and MultiHexagonAperture()"
I'm opening this issue after talking about this to @mperrin.

I wanted to display the OPD of a `HexSegmentedDeformableMirror()` object, but the result is a blank figure:

[code]
<img width="748" alt="Screen Shot 2019-04-03 at 15 30 59" src="https://user-images.githubusercontent.com/29508965/55507391-91b75280-5625-11e9-825c-711d888e9054.png">

This is partly true for a `MultiHexagonAperture()` obje

[2019-04-04 21:20] mperrin commented on #309
@robelgeda and maybe @joseph-long, would either of you maybe have time to look at this issue?

[2019-04-04 21:21] mperrin commented on #309
Not sure if this could be my bug from #307, @joseph-long's bug from #306, or some totally unrelated latent bug that's been around for a while but didn't crop up until now.

[2019-04-11 00:36] jlumbres opened #310 "Problem with building Fresnel Optical system with ZernikeWFE in place"
I'm simulating a Fresnel Optical system with some aberration in place (such as a tilted source) using the ZernikeWFE function. However, I'm unable to build the wavefronts when I use calc_psf. It seems there's a problem in calc_psf to take in the FresnelWavefront?

The Fresnel propagator with the ZernikeWFE has worked for me in the past with version 0.6, but I've since updated to the recent develop

[2019-04-11 04:10] mperrin commented on #310
Thanks! FYI we likely won’t be able to look at this or #311 until next week, given an ongoing JWST WFSC rehearsal this week. But definitely thanks for reporting this.

[2019-04-23 17:18] mperrin opened #312 "consider deprecating _accept_wavefront_or_meters wrapper in wfe.py"
As discussed in comments for #311, in `wfe.py` there is a decorator function `_accept_wavefront_or_meters` which lets you pass either a Wavefront object or a scalar wavelength in meters to the `get_opd` functions etc.  This behavior isn't consistent with the rest of the API, and it doesn't take into account the slight  differences between Wavefront and FresnelWavefront classes. Can't remember now

[2019-04-23 17:18] mperrin commented on #312
cc @douglase

[2019-04-23 20:10] mperrin commented on #309
OK, I've tracked down the root cause of this, though am still not sure of the best fix. This is a side effect related to @joseph-long's PR #306. Specifically the changes around https://github.com/spacetelescope/poppy/blob/master/poppy/poppy_core.py#L2457
And the problem is much broader than just the classes named here; in fact it affects _all_ analytic optical element classes.

In that PR, as part

[2019-04-24 17:28] mperrin commented on #310
With the PR #311 merged in now, I've verified that the above code runs and outputs a PSF, without getting any errors.   @jlumbres, @douglase would you concur with marking this issue closed now?

(Minor caveat, to get a reasonable PSF I had to change the value scaling for `aberr_coeff_sequence` above, which right now specifies 0.9 _meters_ of focus, presumably accidentally :-)

[2019-04-24 17:29] mperrin commented on #297
@robelgeda have you been able to find any guidance for how to switch to codecov rather than coveralls? Do you think it's worth putting effort into this now, or leave it for some future time? Whichever you think best should be fine I think.

[2019-04-24 17:41] mperrin commented on #277
@sdwill can you comment on this one? I believe the issue here is specifically with the DM class option for evaluating the surface as a sum of many gaussians, not via convolution. And the convolution path is much faster. Can you provide any more specific instance of a case in which you were encountering performance issues?

[2019-04-24 19:21] mperrin commented on #312
I tested, and nothing appears to break if this wrapper is removed (except the two tests in `test_wfe.py` that specifically use it, and those would just get removed along with it).

Relatedly, the `get_opd` functions in `wfe.py` are nonstandard in also having a `units` argument, to specify that the OPD can be returned in meters or in waves. This is not how any other optic classes work, and should a

[2019-04-25 03:17] mperrin commented on #312
This behavior has also previously been identified as problematic in #199. Removing it would close that issue.

[2019-04-25 21:10] robelgeda commented on #297
I did not find anyone to help me with this. I think our best bet is to just try to do it ourselves. It would be a good learning experience as well I suppose. I am not sure if Coveralls is still not working so I will post on Slack to see what people say.

[2019-04-26 00:27] jlumbres commented on #310
I downloaded the new version, it works! Thanks!

[2019-04-26 00:27] #310 closed

[2019-04-30 17:55] ivalaginja opened #318 "Indexing error in get_opd() of HexSegmentedDeformableMirror() class when center=False"
Discovered while testing PR #314 I found a bug in the plotting of a `HexSegmentedDeformableMirror()` instance. When I define it with `center=False`, meaning I omit the center segment, the loop in `get_opd()` still tries to address the full number of segments:

[code]

Error message:
[code]

It works fine with `center=True`:
[code]

[2019-05-01 18:26] sdwill commented on #277
Just ran some tests of `ContinuousDeformableMirror` on my machine with 48x48 actuators.

If no influence function is specified via the `influence_function` keyword, then `get_opd()`  becomes very slow, because `_get_surface_via_gaussian_influence_functions()` performs a for-loop over all actuators.  If an influence function is passed in during initialization, the performance appears to be much bet

[2019-05-03 15:20] ivalaginja commented on #318
This might be easily fixed by adjusting `self.segmentlist` in its base class `MultiHexagonAperture()` depending on whether we have `center=True` or `center=False`. Would need to look into it in more detail though.

[2019-05-03 15:35] mperrin commented on #318
Great, if you want to test it out and hopefully submit a PR with a fix that would be great. I expect you are correct and something like that is the necessary fix.

[2019-05-03 19:29] ivalaginja commented on #318
Turns out that `self.segmentlist` is behaving as you would expect, it simply omits the `0` if you tell it not to include the center segment.
The problem arises because `self._surface` is an array while `self._seg_indices` is a dictionary. The dictionary keeps track of the segment numbers all right because it is not ordered, but `self.surface` is ordered and hence accesses its entries wrong when as

[2019-05-06 15:49] #308 closed

[2019-05-08 16:01] #309 closed

[2019-05-09 13:53] #318 closed

[2019-05-09 18:42] mperrin commented on #271
Implemented in PR #315 and #317.

[2019-05-09 18:42] #271 closed

[2019-05-21 15:25] ivalaginja opened #323 "Overload for `what` keyword in display of occulter in SA coronagraph"
I tried running this reduced example from the docs for the SA coronagraph propagation:
https://poppy-optics.readthedocs.io/en/stable/coronagraphs.html#lyot-coronagraph-using-the-semianalytic-subclass

[code]

I get a figure of the optical system showing the entrance aperture and intensity before the occulter plane before the error occurs. It seems like the `display()` method showing the occulter p

[2019-05-24 20:48] #312 closed

[2019-05-30 19:50] #323 closed

[2019-06-17 14:17] mperrin opened #328 "Remove use of astropy-helpers submodule"
See astropy/astropy-APEs#52 ("A roadmap for package infrastructure without astropy-helpers") which describes how the functionality in astropy-helpers can be achieved via more standardized tools in the Python ecosystem.

This is clearly good and we should do it.

See for instance https://github.com/spacetelescope/mosviz/pull/179 and https://github.com/spacetelescope/cubeviz/pull/492 for examples of

[2019-07-15 18:29] joseph-long commented on #328
First of all, 🙌

Second of all, I recently got an email from a would-be user that had copied the `poppy` dir into their Python path without going through setuptools, which skipped `version.py` generation, which made them think POPPY was broken. Just another data point against clever things in `setup.py` 😉

[2019-07-15 18:43] mperrin commented on #328
I think I just wrote back to the same user - I had an email describing that problem with version.py waiting in my inbox when I got back from vacation. Were you able to get them up and running already?

[2019-07-15 18:43] joseph-long commented on #328
Yes, I directed him to use the issue tracker in the future :)

[2019-07-15 18:43] joseph-long commented on #328
(And he reports that everything worked after following the installation instructions to the letter)

[2019-07-17 10:07] FredericCassaing opened #331 "MTF computation"
Hi,
I was used to compute the MTF (Modulation Transfer Function), ie the Fourier Transform (FT) of the PSF, which is supposed to be the pupil autocorrelation. This worked fine when I used FFTs.
Now, the MTFs I compute from POPPY's PSF suffer from support issues (the decreasing rate is rather small out of the expected support, just in the X & Y direction but not in diagonal). I suspect this comes f

[2019-07-17 11:54] mperrin commented on #331
Yes, certainly the MFT is invertible and the same equation for convolution still holds.

The discrete Fourier transform is a unique and well-defined mathematical operation; the FFT and MFT are two different ways of computing it but yield precisely the same results (to within floating point numerical precision ) when computed for the same sampling. The FFT uses some numerical symmetries and shortcu

[2019-07-17 15:16] LucasMarquis commented on #331
Hello M. Perrin,

I am currently working with Frederic Cassaing. Thanks for your help.
Thus, I submit you the typical code that results in a quite noisy Optical Transfer Function, calculated by FFT(psf_poppy). Please find attached the related imshowed picture, with a log10 scale to make the issue visible. Some pixels out of the theoretical MTF limit are still as high as a few percents of those bef

[2019-07-22 16:03] mperrin commented on #331
Hi @LucasMarquis  - I can confirm that I see consistent results here when I run your example code.

It appears to me that this may be related to the finite field of view for the PSF calculation. As I increase the `fov_pixels` parameter to larger sizes, the artifacts become smaller (though not zero). Sampling to a finite, square FOV in the focal plane corresponds to convolution with the FFT of a sq

[2019-07-30 18:28] ariedel opened #332 "radial_profile function does not use energy relative to detector"
The utils.measure_radius_at_ee function is meant to provide a function that yields the radius of a given amount of encircled energy.
However, as currently calculated, that number (from utils.radial_profile) is based on summing up the flux... which is normalized to the pupil plane, not the detector plane.

If the flux were distributed uniformly, a circle of radius r should have 75.5% of the area (a

[2019-08-06 20:36] mperrin commented on #332
Hi @ariedel I thought I had commented on this issue before but apparently it didn't get posted somehow...

The normalization in the `radial profile` function is intentional. Normalizing to the pupil intensity allows for the fact that some significant amount of flux can end up outside any small postage stamp. In the case of the size of postage stamps used in Pandeia (typically a couple arc seconds,

[2019-08-06 21:03] ariedel commented on #332
Yes, that would suffice.

[2019-08-08 16:01] #332 closed

[2019-08-12 17:56] mperrin commented on #153
This was fixed in #293

[2019-08-12 17:56] #153 closed

[2019-08-12 17:57] mperrin commented on #129
Implemented in #325 and #307

[2019-08-12 17:57] #129 closed

[2019-09-03 14:08] #209 closed

[2019-10-02 20:39] mperrin opened #337 "Update docstring for FITSOpticalElement re pixel scale keywords"
Add to docstring about PIXELSCL as an accepted and indeed preferred keyword compared to PUPLSCAL or PIXSCALE

[2019-11-22 17:14] #337 closed

[2020-01-24 13:59] pllim commented on #328
You might want to do this sooner than later (or update your existing `astropy-helpers` version). @bhilbert4 reported this error trying to install `poppy` as part of `mirage` CI:

[code]

If you have already fixed this on dev, then you might need to do a new release. FYI.

[2020-01-24 14:11] mperrin commented on #328
@shanosborne - do you have any availability to work on the de-astropy-helpering poppy and webbpsf? I believe this is now becoming more urgent with the latest astropy release. See above comment by @pllim.

[2020-01-24 14:14] pllim commented on #328
@mperrin , just to be clear, `astropy` itself has not removed `astropy-helpers` yet (slated for 4.1). For your situation, simply updating `astropy-helpers` version to its latest tag might fix the issue. Although, if you are putting in the work already, might as well go all the way and apply APE 17? Tom R wrote a draft of a guide [here](https://demo.codimd.org/6TnoSu6PS1m-H8socv7JDg) in case you fi

[2020-01-24 14:17] bhilbert4 commented on #328
To be clear, I'm only seeing the error above during the Readthedocs build for Mirage. When installing Mirage, everything seems to build ok.

[2020-01-24 14:18] pllim commented on #328
@bhilbert4 , can you please link the log to the failed doc build?

[2020-01-24 14:22] bhilbert4 commented on #328
https://readthedocs.org/projects/mirage-data-simulator/builds/10317921/

[2020-01-24 15:44] shanosborne commented on #328
@mperrin yes I can get back to this issue!

[2020-01-24 16:20] bhilbert4 commented on #328
Mirage RTD builds are now passing. I removed a bunch of dependencies, including webbpsf/poppy  from the build, and everything looks good.

[2020-02-04 19:18] mperrin commented on #328
Implemented in #349

[2020-02-04 19:18] #328 closed

[2020-02-04 19:18] mperrin commented on #297
Codecov switch implemented in #349

[2020-02-04 19:18] #297 closed

[2020-03-03 18:25] ermaier opened #354 "add documentation for ArrayOpticalElement and FITSOpticalElement"
There's a "Supplying Custom Optics from Files or Arrays" section listed on the "Available Optical Elements" page of the docs but said section doesn't actually exist.

[2020-03-04 00:20] ermaier commented on #277
I was wondering if there are any updates on this enhancement? Currently experiencing a lot of this issue in trying to implement Electric Field Conjugation with POPPY. In order to build the complex response matrix for EFC, I have to poke each actuator in my 34x34 DM and record the final complex wavefront. The first time I do this calculation, when the rest of the DM is flat, this takes ~90 seconds

[2020-03-04 00:41] mperrin commented on #277
Ah. The trick is not to use the Gaussian influence function at all. There is another path that uses a convolution kernel with a measured influence function and that is many orders of magnitude faster. Apologies, I don’t think I realized you were using the basic Gaussian version actively and it was slowing you down. I should provide you with example code for how we’re modeling the kiloDMs in HiCAT.

[2020-03-06 21:35] ermaier commented on #277
It's no problem, I didn't even realize it was an issue until last week until I started trying to recalculate the response matrix with a shape on the mirror. Good to know there's an alternative...here's a reminder :P

[2020-03-19 18:15] robelgeda opened #355 "pip install poppy fails because it seems to require astropy-helpers 2.0.11"
@larrybradley  wrote:

To close the loop on not being able to install webbpsf via pip.  I investigated further, and the real issue is with the required poppy package.  In a clean environment, pip install poppy fails because it seems to require astropy-helpers 2.0.11, which is an ancient version:
[code]

If I manually do pip install 'astropy-helpers==2.0.11' , I can then pip install poppy and webbp

[2020-03-19 18:19] mperrin commented on #355
Thanks @robelgeda and @larrybradley. The development version of poppy no longer requires astropy helpers at all, thanks to @shanosborne.

I think we have not been planning a new release immediately (due to the broader desire to minimize new tool software releases in the run up time before the JWST deadline.) But we could revisit that, and in particular could consider a small delta release for popp

[2020-03-19 18:27] robelgeda commented on #355
This sounds good to me

[2020-03-20 14:20] mperrin commented on #355
In that case @robelgeda can you please coordinate with @shanosborne to organize for an 0.9.1 release of poppy?  This can just be a straightforward release of all the changes made since 0.9.0 in poppy. It doesn't sound like a webbpsf release is needed at this time; do you agree?

[2020-05-18 17:36] mperrin opened #359 "Release to-do, 0.9.1"
- [x] Update release notes in docs with all PRs since Nov 25
- [x] Update list of contributors
- [x] Update version number
- [x] Release -> GitHub, pypi, conda

[2020-05-18 17:38] mperrin commented on #359
fyi @shanosborne

[2020-06-16 14:33] mperrin opened #361 "Rename 'master' branch to 'stable'"
'master' terminology is outdated. See https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/ and related.

'stable'  and 'develop' should be what we use here.

[2020-06-16 19:49] mperrin opened #362 "Migrate from pysynphot to synphot"
Synphot is a refactor of pysynphot and we should start using the newer package. This is recent work done by @ariedel in support of the ETC (see discussion at [this innerspace page](https://innerspace.stsci.edu/pages/viewpage.action?spaceKey=JWST&title=2020-06-15+ETC+release+schedule+update%2C+new+template+spectra+and+filter+bandpasses%2C+synphot+refactor) and [this presentation by Adric](https://i

[2020-06-17 16:15] kjbrooks opened #363 "Potential bug in poppy.measure_fwhm"
In attempting to use poppy.utils.measure_fwhm, I ran into a TypeError: No loop matching the specified signature and casting was found for ufunc true_divide.

It seems that this line:

https://github.com/spacetelescope/poppy/blob/2010aaac2e738ac347186e28b2258e489a22deec/poppy/utils.py#L821

is causing an error since this operation is not actually valid for the reasons laid out in this issue: https:

[2020-06-18 01:18] mperrin commented on #363
Oh interesting. This is for an image with integer dtype? I think it sounds like  the existing code works for float but not for int? Good catch!

[2020-06-18 12:38] mperrin commented on #361
Done.

[2020-06-18 12:38] #361 closed, assigned to mperrin

[2020-06-18 14:35] kjbrooks commented on #363
Yes, this was an image that came out of MAGIC and is dtype uint16

[2020-06-25 21:08] #363 closed, assigned to nobody

[2020-07-31 15:49] #359 closed, assigned to nobody

[2020-07-31 15:51] mperrin opened #372 "Display issue in calc_psf display with non-square arrays"
Encountered in the course of simulating a 9576x6388 pupil camera on HICAT.

The last image below is rectangular in shape, but gets displayed as a square. It's stretched and the proportions are wrong.
Probably just needs an `aspect='equal'` in the display code.

[code]
![Unknown](https://user-images.githubusercontent.com/1151745/89052643-025aa600-d324-11ea-9710-ccb84e965eba.png)

[2020-08-03 15:24] keflavich opened #373 "Integration w/astropy units, models?"
I'd like to use `poppy` to make synthetic PSFs to use in modeling with `astropy.models`, so it would be nice if they played well together.  Right now, afaict, poppy is not `unit`-friendly - is refactoring to include units in the works?  Notably, some of the examples specify units ambiguously (e.g., https://github.com/spacetelescope/poppy/blame/develop/docs/examples.rst#L32 says "microns" but the v

[2020-08-03 15:52] pllim commented on #362
This might also enable #373

[2020-08-03 16:22] mperrin commented on #373
Hi @keflavich  - in fact Poppy *is* units-friendly, and makes extensive usage of astropy.units throughout the code, though some of the docs are out of date and don't reflect that clearly. (Since some of the docs were well written before `astropy` itself even existed.)

Try the same function call with wavelength equal to `2e-6`, `2*u.micron`, `2e-6*u.meter` and you will find the same results in all

[2020-08-03 17:11] keflavich commented on #373
Huh, thanks.  I think I had put in a wrong unit, then, and misinterpreted the error message as 'units aren't supported' - I put in arcsec for pixel scale, instead of arcsec/pixel.

Thanks for pointing me in the right directions.  I'll check out the WebbPSF code.  That sounds like what I need, but I'm unsure now about performance - I'm modeling large numbers of fields each containing ~10^5 stars.

[2020-08-03 17:23] mperrin commented on #373
Yes, exactly. I'll direct you to my colleagues @shanosborne and @larrybradley who can help with that. And see the photutils docs of course. Here's a worked example of doing this for a simulated star field for JWST NIRCam images: https://spacetelescope.github.io/notebooks/notebooks/JWST/NIRCam/PSF_phot_01/GriddedPSFModel_simulation_and_photometry.html

The performance with ePSFs and photutils model

[2020-08-03 17:25] keflavich commented on #373
The error there is probably clear and I was just being hasty and making bad assumptions.

[2020-08-04 14:18] mperrin commented on #355
This was resolved with the last release. Closing issue.

[2020-08-04 14:18] #355 closed, assigned to nobody

[2020-08-10 04:18] joncox123 opened #375 "How to propagate 2D image wavefront"
Can poppy propagate a 2D image wavefront, such as an arbitrary bitmap image, or does it only compute the PSF? If the later, then I presumably need to implement the code to convolve the image with PSF? I couldn't find a routine or example for loading a bitmap image as a wavefront.

By the way, for us boneheads, what's the relationship between focal length and waves of defocus for a thin lens?

[2020-08-10 15:17] douglase commented on #375
If you represent your wavefront as an OPD and an amplitude mask, you can load it using the FITS optical element function, multiply it by a flat wavefront and then propagate it to the image plane, no post-facto convolution required: https://poppy-optics.readthedocs.io/en/stable/extending.html#defining-a-custom-optic-from-a-fits-file

telescope-optics.net has a nice discussion of defocus error:
http

[2020-08-10 15:39] joncox123 commented on #375
@douglase thanks for the instructions. Regarding the derefocus question, although I am also interested in this aberration, the first thing I need to do is simply to simulate a thin lens with a certain focal length. Naturally, this just performs some magnification and takes the Fourier transform. However, the ThinLens object in Poppy only takes a defocus term, not a focal length.

Is my understandi

[2020-08-10 23:03] douglase commented on #375
Since the Fraunhofer approximation is far field, in the Fraunhofer imaging regime there are no focal lengths, just pupil and image planes, so the thin lens class in POPPY only serves as a way to add the defocus aberration. Depending on the regime you are in, you might not need to the Fresnel module, but it does account for each elements' focal length. The Hubble example of Fresnel propagation unde

[2020-09-03 12:03] mcbeth commented on #373
You use units, and most places it looks like things make sense.  When I add a detector (osys.add_detector), I get different answers depending on the units used

So, for example, from the documentation, if I follow:
"Using ZernikeWFE to introduce astigmatism in a PSF"
and pass in ```0.01 *u.arcsec/u.pix```
I get a plot that looks very similar to the documentation

if I pass in ```48.5 *u.nrad/u.pix

[2020-09-03 12:23] mcbeth commented on #373
For ```calc_psf``` (same example)
If I ```print(psf[0].header)```
It reports the wavelength as 460 meters, because I passed it in as ```460*u.nm```
If I call it with ```(460*u.nm).to(u.m)```, then I see the expected value in the header
I suspect in both of these cases, the code is checking to see if the value is convertible and then just strips the units rather than converting and stripping

[2020-09-03 12:28] mperrin commented on #373
Thanks much @mcbeth, those do sound like bugs. @shanosborne or I will take a look, but likely not until next week or so.

[2020-09-11 21:22] mixxen commented on #135
In case anyone else is having this issue. The solution is to increase pupil sampling. This can be done by setting parameter `npix` to a larger value (default is 1024). For example:

[code]

Hope that helps.

[2020-10-16 02:56] douglase opened #381 "wave is included in get_opd() but not used"
https://github.com/spacetelescope/poppy/blob/71dddf818ca600c771235e54473473426b0b90a2/poppy/poppy_core.py#L2302

[2020-10-16 03:08] mperrin commented on #381
This is intentional as part of the API, for multiple reasons. It allows wavelength-dependent OPDs in subclasses for refractive optics. And besides we use the wave’s sampling to rasterize the optic’s OPD values for any of the analytic optic subclasses.

[2020-10-16 16:21] douglase commented on #381
Apologies for terse description. The particular line was causing confusion,
I was trying to help another user access their already generated .opd in
meters, would it be appropriate for this realization of .get_opd() to have
a comment in the docstring that the wavelength is not needed and .opd will
be returned?

On Thu, Oct 15, 2020 at 20:09 Marshall Perrin <notifications@github.com>
wrote:

[2020-10-16 17:17] mperrin commented on #381
Sure, how about something like this in the doc string:

"In this base class instance, the wavefront parameter 'wave' is not used, and the .opd attribute is returned directly. Subclasses may change this behavior, for instance to evaluate optical aberrations on the sampling defined for that wavefront, or to compute wavelength-dependent aberrations of refractive optics."

And, for the case you're des

[2020-10-16 17:58] douglase commented on #381
yep, that's what we ended up going with, #382 adds a slightly tweaked version of your docstring above.

[2020-10-16 17:58] #381 closed, assigned to nobody

[2021-01-05 06:07] mperrin commented on #373
@mcbeth - Happy new year. It's been a while but I finally got around to looking further into the issue you reported with detectors when using pixel scales in other units such as `u.nrad/u.pixel`.

It turns out that the PSF computation itself was handling the units correctly - but the _display functions_ on the other hand were not appropriately handling the different pixel scale units. I've just im

[2021-01-05 06:20] #375 closed, assigned to nobody

[2021-01-05 06:23] #181 closed

[2021-01-05 06:23] #1 closed

[2021-01-05 06:30] mperrin commented on #40
This offset parameter hasn't been used in years and never worked reliably, either. Best to just drop it now, for simplicity; it's an unnecessary added complication. I'm going to simply delete out the code for this in 1., since that's going to be a not-backwards-compatible release anyway.

[2021-01-05 19:38] mperrin opened #387 "allow astropy.units in shift_x or shift_y parameters to OpticalElement"
Moved from #378:

Hmm, here's another issue with units that should work but doesn't:
[code]
You can't specify shift_x or shift_y with units, just as a bare float with implicit units. This too should be cleaned up and made consistent & unsurprising.

[2021-02-04 14:40] mperrin commented on #373
Addressed through #374 and #378

[2021-02-04 14:40] #373 closed, assigned to nobody

[2021-02-04 14:43] #39 closed

[2021-02-04 14:47] mperrin commented on #277
We should update the docs for ContinuousDeformableMirror to add some brief remarks on performance, and recommendation to use the convolution pathway rather than the Gaussian.

[2021-02-04 14:48] #331 closed

[2021-02-04 14:50] mperrin commented on #362
Not sure if there is a particular priority for this or not - is pysynphot being deprecated at some point or not, is there any concrete benefit to switching, etc?  I have to admit the relationship between pysynphot, synphot, and stsynphot is not entirely clear to me.

[2021-02-04 19:25] ariedel commented on #362
The ETC team has heard that DATB would prefer to stop maintaining pysynphot, now that there's a new astropy-affiliated package they'd prefer to expend their effort on. We were told that we were the major users, within the institute, of pysynphot.

synphot is the generic parts of pysynphot - loading, normalizing spectra, and the like.
stsynphot is all of the institute-specific parts (anything that

[2021-02-04 19:39] pllim commented on #362
Yes, PySynphot is in legacy mode and will be archived once HST ETC stop using it. Its roadmap is documented at https://github.com/spacetelescope/pysynphot/blob/master/ROADMAP.md .

You might find the following conversion guides useful:

* https://synphot.readthedocs.io/en/latest/synphot/from_pysyn_iraf.html
* https://stsynphot.readthedocs.io/en/latest/stsynphot/from_pysyn_iraf.html

I am looking i

[2021-02-22 18:01] mperrin opened #397 "Another matplotlib deprecation warning"
This arises in part of the display code, when calling e.g. `some_instrument.calc_psf(display=True)`:

Usually that shows up over and over again for each wavelength in a polychromatic calculation.

The original behavior and intent of this part of the code was to re-plot each wavelength as it's calculated, in a plot window that is updated again for each wavelength, overwriting the previous plots and

[2021-02-24 03:17] mperrin opened #399 "calc_psf(monochromatic=X) should allow astropy.units"
[code]
leads to
[code]

[2021-02-27 02:24] robelgeda opened #403 "Einstein Summation Bug"
I was running some tests on WebbPSF and realized the optimization from #400 is causing WebbPSF Travis tests to fail. I was able to reproduce the error locally:

[code]

CC: @mperrin @grbrady

[2021-03-01 14:41] mperrin commented on #403
This turns out to be a webbpsf issue, not a poppy issue. See https://github.com/spacetelescope/webbpsf/pull/422 for the fix.

[2021-03-01 14:41] #403 closed, assigned to nobody

[2021-03-02 13:07] Teusia opened #405 "extract an image of a pupil plan"
Dear all,

I am trying to setup a phasing wavefront sensor simulation using poppy. It happen that for some wavefront sensors I need to extract an image of the pupil plan. I know poppy can calculate this image because when doing poppy.OpticalSystem.calc_psf(display _intermediates = True) then .display_psf there is a beautiful pupil image showing me the intensities I expect. However, I cannot figure

[2021-03-02 14:17] mperrin commented on #405
Hi, this is possible using the `return_intermediates` parameter to calc_psf. Like:

[code]
The `waves` variable will be a list of complex wavefronts, one for each plane in the optical system. You can then access, for instance, `waves[2].intensity` for the intensity at that pupil plane.

[2021-03-02 14:27] mperrin commented on #405
The other way to do this is to set a detector instance in the pupil plane. This allows setting the pixel scale to a particular value, making polychromatic pupil images, and so on.  I think the documentation may not show an example of a detector in a pupil plane but it can be done.

Note also, for simulations of Zernike sensors it can be important to set the numerical sampling of the first image pl

[2021-03-02 14:32] ivalaginja commented on #405
Hey! Yes we know each other, it was in fact me who directed her to the poppy docs and the repo ^^
We can certainly figure out how to put a detector in the pupil plane, but extracting the correct intermediate plane like in the example @mperrin posted should be a good start. It depends very much on how you intend to use that information further that might motivate the one or the other, at least that

[2021-03-02 14:54] Teusia commented on #405
Hello,

Great thank you!!!
:) I am no longer in Marseille, but yes I know Iva, not sure about Raphael though.
Based on your comment @ivalaginja  I shall start with the example of @mperrin.

On the longer term being able to control the pupil plan sampling, and poly-chromatic images, would definitively be a plus. My intention is to use the produced images to develop an image processing algorithm. Th

[2021-03-02 15:20] mperrin commented on #405
@raphaelpclt is working on Zernike sensors nearby at Observatoire de la Cote d'Azur. We are using poppy to simulate data and develop analysis algorithms for use with our HiCAT test bench Zernike sensor; it sounds like what you're interested is quite similar, so yes it can be done.

What's needed is not new development in poppy, but setting the appropriate options in the calculation setup, for inst

[2021-03-03 12:58] raphaelpclt commented on #405
Hello :)
If I had to take bets, someone called Anne-Laure who was in Marseille and who works on Zeus with segmented apertures, I guess we know each other ^^ In fact we did some experiments on MITHiC together.

To come back on @mperrin 's comment, indeed I do use poppy detectors. I did not spend time on understanding why exactly, but it seems I need to do it in 2 seperated steps. First define the d

[2021-03-04 09:07] Teusia commented on #405
:)
Thank you Raph, that is exactly what I needed!
For the MTF I' ll try to find again the documentation, and if anything comes up I'll ask.
Many thanks!!

[2021-03-04 09:07] #405 closed, assigned to nobody

[2021-03-18 18:03] mperrin opened #408 "add more efficient rotation for 90 degree cases"
pointed out by @ehpor on https://github.com/spacetelescope/hicat-package/pull/556#issuecomment-802155424

It would be easy to add a check for 90 degree rotation and use a more performant function. This should be added in.

[2021-03-18 19:56] mperrin opened #409 "PEP8 utils"
@shanosborne noted on #394

We should PEP8 all the utils functions, yes.

[2021-03-23 08:41] Teusia opened #410 "poppy for windows users and git"
Hello,

So I had to verify that my windows colleagues can use poppy, and it turns out that the setup.py of poppy requires git. The windows machine I tested on had git Desktop installed, which seam not recognised by python. Because I am using Anaconda to manage python I could solve this by an anaconda install of git  (e.g.: `conda install git` there is also a python-git in pypi).
Maybe this would b

[2021-03-23 12:36] mperrin commented on #410
Hi @Teusia - interesting, thanks for this report. I have never tried to install or use poppy on Windows without git.  Windows is only semi-supported and not well tested (since few astronomers seem to use Windows these days!) but I agree it should be possible to install poppy on Windows.  Anaconda is our (STScI's) supported and recommended way to install Python packages. Is it not possible for your

[2021-03-23 18:00] Teusia commented on #410
Hello,

I am still in the process of testing so please do use me to ask for everything you require to help with this.
### install with anaconda
Anaconda is also our python package manager but on anaconda poppy seem to only be [supported for osx](https://anaconda.org/stsci/poppy). Trying to install nonetheless yield:
[code]
BTW this is the case for the entire stsci astroconda install it seems windo

[2021-03-24 13:01] mperrin opened #412 "faster to use bool array indexing than np.where when setting up optics"
A small but significant performance optimization. Several of the optical element classes use `numpy.where`  for selecting array subregions, but it's much faster with numpy to use boolean array masks:

[code]

(The use of `where` like this is an unintended hold-over in early code from my prior work in IDL, in which `where` is a very frequent part of the idiom for performance optimization. But it's

[2021-03-24 15:27] mperrin commented on #412
See #413

[2021-03-26 19:10] #408 closed, assigned to nobody

[2021-03-29 14:38] mperrin commented on #412
Done by #413

[2021-03-29 14:38] #412 closed, assigned to mperrin

[2021-03-31 18:52] #410 closed, assigned to shanosborne

[2021-04-01 01:31] #362 closed, assigned to shanosborne

[2021-04-02 09:12] Teusia opened #422 "The fence problem in segmented apertures"
Hello,

I have a problem of fence's poles and spacing: for some reason the CircularSegmentedDeformableMirror tells me that the diameter of my telescope is `(2n+1)*the_segment_size + (2n+1)*the_gap_size` (with n the number of rings ). When I am certain the diameter of my telescope is  `(2n+1)*the_segment_size + (2n)*the_gap_size`. Otherwise my fence is terminated by a non delimited spacing. The fir

[2021-04-02 14:18] mperrin commented on #422
Ah, this is a subtle point, and may benefit from different handling for circular and hexagonal apertures. First, there's a distinction between the pupil _array_ diameter and the pupil _clear aperture_ diameter. I agree with your formula for the clear aperture diameter. The `pupil_diam` variable is somewhat misnamed as it actually gets used to set the pupil array diameter. This is legacy old code b

[2021-04-02 14:41] mperrin commented on #422
@Teusia please try adding your suggested replacement line in the function `MultiCircularAperture.__init__`, after the call to `super().__init__`. This is around line 1533.

I think that should make things work as you desire for circular segments, without any change for the hexagonal case.

If that works for you, please feel free to submit a pull request and we can merge in that fix. Thanks.

[2021-04-02 14:53] mperrin commented on #256
Not going to work on this. It's been obsoleted by subsequent events, both that FFTW works better and in any case MKL FFT works even better.

[2021-04-02 14:53] #256 closed

[2021-04-02 14:54] mperrin commented on #29
No further work needed on this at this time.

[2021-04-02 14:54] #29 closed

[2021-04-02 14:54] #40 closed

[2021-04-06 08:46] Teusia commented on #422
Hello,
@mperrin, that is a good point I did not think about that! okay no problem I'll do as you suggest!
I am submitting a pull request with your suggested change.

Thanks a lot!!!

[2021-04-06 08:46] #422 closed, assigned to nobody

[2021-04-07 16:46] robelgeda opened #425 "geometry.py np.arctan divide by zero warning"
[code]

[2021-04-27 16:36] Teusia opened #430 "FITSOpticalElements in image plane: unit problem"
Hello,

I am trying to use the `FITSOpticalElement` to introduce a pyramid wavefront sensor in a poppy optical system. Only I cannot get my final image for what appear to be a unit problem:
[code]
I think solving the two first problem fixes the last one, so I'll concentrate on the first problem:
The pixel scale of this `FITSOpticsElement` should be in arcsec/pix, if I understand properly, because

[2021-04-29 18:18] mperrin commented on #430
Hi @Teusia,

I think here the fix is simple but not obvious: Replace `planetype=2` with `planetype=poppy.poppy_core.PlaneType.image`.  The python enum class checks not just the numeric value but also the class type, so you have to set that parameter with a PlaneType class instance. With that change, your example code runs without any error.

I hope this helps!

[2021-04-30 07:35] Teusia commented on #430
Hello @mperrin,
Yes that did the trick the error is no longer there! thank you!
Now I want to understand why it seems the pyramid has no effect on the image.
Any insight maybe?

Thank you!

[2021-05-03 18:56] #425 closed, assigned to nobody

[2021-05-07 07:46] #430 closed, assigned to nobody

[2021-05-11 03:29] mperrin opened #433 "Migrate CI to Github Actions"
Should be similar to https://github.com/spacetelescope/webbpsf/pull/455, and hopefully straightforward

[2021-05-11 13:25] #433 closed, assigned to shanosborne

[2021-05-14 22:45] JarronL opened #436 "Undefined pupil path variable"
Minor issue (that I haven't run into, but Pylance in VS Studio Code discovered it while I had the file opened): full_pupil_path has not been defined at the point in which it is called when raising the file not found error.

https://github.com/spacetelescope/poppy/blob/ae26bee53381e38834ccbfd63350d5d938c9c6e8/poppy/instrument.py#L570

Instead, this should simply read:
[code]

[2021-07-16 22:51] #436 closed, assigned to nobody

[2021-07-19 15:35] #399 closed, assigned to nobody

[2021-07-19 16:55] #387 closed, assigned to nobody

[2021-07-19 21:35] mperrin commented on #409
Closed by #446

[2021-07-19 21:35] #409 closed, assigned to nobody

[2021-07-20 14:44] mperrin commented on #249
This was merged in #437

[2021-07-20 14:44] mperrin commented on #91
Implemented in #437

[2021-07-20 14:44] #91 closed

[2021-07-29 18:55] DaPhil commented on #253
@mperrin: My pleasure to contribute. I think this issue can now be closed.

[2021-07-29 19:17] mperrin commented on #253
Added in #438

[2021-07-29 19:17] #253 closed

[2021-08-04 23:12] philhinzatucsc opened #452 "StatisticalPSDWFE divide by zero"
I have a newbie question/ bug.  I have just started using poppy to estimate wavefront error effects on the PSF for Keck/SCALES.  To do so, I have a created a FresnelOptical System model and then use StatisticalPSDWFE to create an error for one of the optics.  This results in a warning:

 . . ./poppy/wfe.py:349: RuntimeWarning: divide by zero encountered in power
  psd = np.power(rho, -self.index)

[2021-08-04 23:40] mperrin commented on #452
@jlumbres could you please take a look at this issue and provide your take on this divide by zero issue with StatisticalPSDWFE? Thanks much..

[2021-08-05 01:55] jlumbres commented on #452
Oh, hi @philhinzatucsc!

This issue happened with me when I wrote PowerSpectrumWFE. I did a similar solution, too. I overwrote the one pixel where spatial frequency k=0 to be 1*dk (spatial frequency spacing), did my math, then I overwrote the power at that same pixel location to be 0 after the math was done. I set the power to 0 because it was an arbitrary choice on my end. You can see my code [he

[2021-08-05 16:59] philhinzatucsc commented on #452
Ok, thanks for the confirmation.  I am new enough to github and poppy that I am not sure what the next step is.  For my own work, my internal hack works fine, but presumably I or you should be fixing this for others? I am not sure how to submit a bug fix.

[2021-10-11 16:21] Teusia opened #461 "documentation update? custom optic"
Dear all,

I was trying to use the example [custom optic class](https://poppy-optics.readthedocs.io/en/latest/extending.html#defining-a-custom-optic-from-an-analytic-function) to make a wrapper, and I think the example might need up dating.

First in the __init__ python complained that:
[code]
(the GMTpoppy class was a pure copy paste of the example on [the page](https://poppy-optics.readthedocs.i

[2021-11-02 18:27] Russell-Ryan opened #464 "synphot requirement"
poppy does not install the correct version of synphot (currently v1.1).  It seems the setup.cfg file needs to have install_requires synphot>=1.1.0 ? the work around was to ```pip install synphot==1.1```

[2021-11-02 18:54] mperrin commented on #464
Thanks @Russell-Ryan. @shanosborne could you please take care of this? Thanks!

[2021-11-02 20:00] shanosborne commented on #464
I can definitely add a version requirement to the setup.cfg file. However, I'm not sure we want to add it to install_requires.

We originally set up the code so that it wouldn't install synphot, because it's not technically needed to run the package - it's a bonus to get more features. That's why it lives under `[options.extras_require]` in the setup.cfg file.

@mperrin Do you want to keep the syn

[2021-11-02 20:05] Russell-Ryan commented on #464
@shanosborne I'm not sure, but I know that when we just a vanilla ```pip install .``` it did not set up synphot.  Then we ran some code given to us by Charles Lajoie that crashed because synphot wasn't set up.  In fact, we trace the problem to something in instrument.py, and the only way we could resolve the issue was to pip install synphot==1.1.

[2021-11-02 20:09] mperrin commented on #464
Good questions Shannon. I haven't thought this through in any detail yet and to be honest wasn't intending any significant change in functionality, just a bump in version number.

It may be that the right fix is making synphot a required dependency of webbpsf, rather than poppy. For poppy it should probably stay optional? Not sure.

Having that be optional may be less needed now than used to be th

[2021-11-03 14:13] shanosborne commented on #464
According to the synphot docs

So it seems like downloading any data files are optional, even if you're not at ST. But we do call the johnson filter data files in `_get_filter_list` in `instrument.py`

[2021-11-18 18:00] mperrin commented on #464
@shanosborne we should also come back and resolve this as well, in prep for 1.0

[2021-11-18 18:37] mperrin commented on #71
ancient issue, not a priority; we will improve test coverage on a per-issue basis but there's no value in keeping this old catch-all item open at this time.

[2021-11-18 18:37] #71 closed

[2021-11-18 18:38] mperrin commented on #154
not going to happen at this time.

[2021-11-18 18:38] #154 closed

[2021-11-18 19:57] shanosborne commented on #464
@mperrin Right, so I found that you do still need data files for synphot, though you can access them through the ST HTTP service rather than being forced to download them (though it is slower). So I think the standing question is - do we want to require this, and if so for which package - webbpsf or poppy (or both?)

[2021-11-19 04:28] mperrin commented on #464
I'd lean towards making synphot a required dependency of webbpsf, but leaving it as an optional dependency for poppy. poppy is much more general and has plenty of use cases that don't depend on synphot. Further, the poppy.Instrument class is already written with code to handle synphot as an optional dependency (all the _HAS_SYNPHOT parts).

[2021-11-19 04:31] mperrin commented on #464
@Russell-Ryan can you provide more details on what error messages you encountered regarding synphot? I'm a little surprised, since I see that my local machine has synphot 1.0.1 and yet all the tests pass for poppy and webbpsf.  So if there is any functionality which actually depends on synphot 1.1 or greater, it's not tested as part of our test suite. Which maybe is an omission that we should fix,

[2021-11-19 04:45] mperrin commented on #372
Cannot replicate. Must have been fixed at some point in the last year and a half?  A simplified example showing the behavior works as expected (and does not show the buggy behavior above):

[code]
![Unknown-3](https://user-images.githubusercontent.com/1151745/142566287-719dccae-c4ee-41ec-bcdf-bbfd0db1f22a.png)

[2021-11-19 04:45] #372 closed, assigned to mperrin

[2021-12-03 03:46] mdhoney opened #470 "Interference of wavefronts?"
Thanks for this great package!  I have been able to propagate a FresnelWavefront and am now trying to interfere it with a reference wave (in order to model a simple hologram).  Do you think this is possible with POPPY?

[2021-12-03 05:26] mperrin commented on #470
Hi, and thanks for the kind words. In principle yes I think this should be straightforward enough, though I don’t know if anyone has yet tried modeling holograms (so there may be some subtleties or gotchas that I’m not aware of; holography is not an area of optics that I have much direct familiarity with)

Two wavefronts can be added together straightforwardly, via the `+` operator. This is overlo

[2021-12-03 18:35] Russell-Ryan commented on #464
@mperrin i don't recall the precise error, but i didn't have synphot installed at all.

[2021-12-03 20:14] mperrin commented on #464
@Russell-Ryan posted in email:

So I ran Charles notebook with the version of the code and reference data pointed to me by Justin.  Specifically, it was

webbpsf version: 0.9.2.dev286+gc75a455
poppy version: 0.9.2

And I got these errors on the 9th cell, which is in the Measure the FWHM block:
[code]

I don’t recall precisely the error we got with synphot in poppy last time, but it was something l

[2021-12-03 20:20] mperrin commented on #464
@Russell-Ryan First, as I suggested some weeks ago the fix for this is straightforward and obvious enough: making synphot a required rather than optional dependency for webbpsf.

That said I'm a little surprised that this error can arise given the code in poppy.... In particular the stack trace above shows the call to `self._get_synphot_bandpass` in `poppy/instrument.py` line 888. However just abo

[2021-12-03 20:23] mperrin commented on #464
In any case, now that the mystery is cleared up, what shall we do about it, if anything?

On the one hand I assert that you could install dev poppy (instead of poppy 0.9.2) and that notebook should run without error, because both dev poppy and dev webbpsf are now consistently both looking for synphot instead of pysynphot.

On the other hand, I still think we should just make synphot a required dep

[2021-12-03 20:33] Russell-Ryan commented on #464
I have a fresh environment that I built this morning with justin.  I didn't install any form of synphot or pysynphot, and only did pip install on the webbpsf codebase.  Also, I didn't install poppy by hand, presuming the webbpsf install would catch it.  I have since tried to do things like pip install synphot, pip install synphot==1.1, and pip install pysynphot.  I've restarted the notebooks, and

[2021-12-03 20:36] mperrin commented on #464
Hi Russell, my assertion is that if you also install the dev version of poppy, this error will go away. It results from the inconsistent versions of poppy and webbpsf you have currently.

[2021-12-03 21:19] Russell-Ryan commented on #464
Ok.  Im not sure how to do that?

R

Sent from my iPhone

On Dec 3, 2021, at 3:36 PM, Marshall Perrin ***@***.***> wrote:

﻿

Hi Russell, my assertion is that if you also install the dev version of poppy, this error will go away. It results from the inconsistent versions of poppy and webbpsf you have currently.

—
You are receiving this because you were mentioned.
Reply to this email directly, vie

[2021-12-03 23:47] #354 closed, assigned to nobody

[2021-12-05 20:18] ojustino commented on #464
Hi @Russell-Ryan, did you see number 3 on `poppy`'s [installation guide](https://poppy-optics.readthedocs.io/en/latest/installation.html#installation)? You want to make sure you're in the same conda environment you created to test my Cycle 9 pull request -- I believe you named it `webbpsf`?

[2021-12-05 22:59] Russell-Ryan commented on #464
I didn’t install poppy by hand, I only did pip install on webbpsf.  Does that installer not auto-install the relevant dependency?

On Dec 5, 2021, at 3:18 PM, ojustino ***@***.******@***.***>> wrote:

Hi @Russell-Ryan<https://urldefense.com/v3/__https://github.com/Russell-Ryan__;!!CrWY41Z8OgsX0i-WU-0LuAcUu2o!nirBTILpnQT9EzSnnoeoqXdnCWrQUksT26IsY1TilFTcGnmQnCHCKxLBpJDq5Q$>, did you see number 3 on

[2021-12-05 23:32] ojustino commented on #464
You do have *a* version of `poppy`, but Marshall has asked you to install the development version, which happens via the method linked in my previous post.

[2021-12-06 01:33] Russell-Ryan commented on #464
Ok.  I can do that.  But two questions.

1) is that the normal installation procedure?  I mean we don’t expect users to do this, do we?

2) you’re sure that points to the dev version? It looks like it’s just to the latest, and the latest is dev (for example, dev isn’t it’s own branch or fork?)

R

Sent from my iPhone

On Dec 5, 2021, at 6:32 PM, ojustino ***@***.***> wrote:

﻿

You do have a versi

[2021-12-06 01:59] mperrin commented on #464
Hi, I can advise more with this tomorrow. Russell no we don’t expect users to install the dev version; rather the way this works is poppy and WebbPSF have synchronized releases. So we will do a release of poppy, then the release of WebbPSF will depend on that version of poppy. They get developed side by side more or less, and each WebbPSF release assumes it goes with the latest matching poppy rele

[2021-12-06 16:31] Russell-Ryan commented on #464
Ok... I follow justin's instructions on getting the dev of poppy.  I now have these versions:

webbpsf: 0.9.2.dev286+gc75a455.d20211203
poppy: 1.1.dev228+gca97b1d

But get a different error when using wfi.calc_psf() from Charles' notebook.

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/var/fo

[2021-12-06 16:45] mperrin commented on #464
OK, that error is due to a bug in synphot, in which prior versions are not compatibly with astropy 5.0. The required fix is to have the most recent synphot, version 1.1.1, if you have astropy 5.0 installed. This is an upstream bug and is not something we can fix within WebbPSF or poppy. Try updating your synphot.

This is a very recent problem - astropy 5.0 was only released a couple weeks ago, an

[2021-12-06 20:36] Russell-Ryan commented on #464
No, it’s no problem.  I just only speak GitHub at a second-grade level, and so I’ll just need gentle (and explicit) guidance when it comes to anything more complicated than a simple git clone and pip install.

Just an update on my end.

1) I was indeed running astropy 5.0 and synphot 1.1.0, they were the native installs to the pip install on webbpsf.  For the time being, can we make the webbpsf se

[2021-12-07 05:59] retroexpress opened #475 "GaussianAperture ignores pupil_diam"
It seems the pupil aperture is always 3*FWHM when I generate a Gaussian aperture, even when specified otherwise. Here are the plots for pupil_diam=0.01 and 1:

[code]

![pupil0 01](https://user-images.githubusercontent.com/20232741/144974197-dd525130-0918-4a1b-a34b-ed53bf2b677d.png)
![pupil1](https://user-images.githubusercontent.com/20232741/144974512-26fd262e-4330-4488-811b-836b74779cf2.png)

Th

[2021-12-07 06:34] mperrin commented on #461
Fixed as part of PR #449

[2021-12-07 06:34] #461 closed, assigned to mperrin

[2021-12-16 15:02] mperrin commented on #475
Hi @retroexpress - I just wanted to say, I/we did see this issue report. Apologies but we won't be able to look into it in any detail for some time (weeks, possibly months) - all our efforts right now are focused on supporting the immanent launch and commissioning of the Webb Space Telescope.

That said I am not quite sure what exactly is the issue you're reporting. In the example code given, the

[2021-12-21 02:41] retroexpress commented on #475
Hi Marshall, thanks for the reply. I understand you have some pretty big fish to fry for the foreseeable future so I really appreciate you taking the time. The issue I was reporting was that size of the aperture of the gaussian always seems fixed at 3*FWHM, regardless of what I specify. Is pupil_diam not what is specifying the size of the circle in the phase plots? It certainly looks to be 3*FWHM

[2022-01-16 18:40] vandalt opened #483 "`zernike` module raises `TypeError` in `fractorial` for Python 3.10"
Hello,

When doing the [WebbPSF quickstart tutorial](https://nbviewer.org/github/spacetelescope/webbpsf/blob/develop/notebooks/WebbPSF_tutorial.ipynb) on Python 3.10, I got a `TypeError` because of the `factorial` call in `zernike.R()`. I think this is because calling `factorial` with a float is [deprecated since 3.9](https://docs.python.org/3/library/math.html#math.factorial).

I think the fix is

[2022-01-16 19:16] MTLeist255 opened #484 "poppy.display_profiles() Output Plot Inquiry"
Hello, not really an issue more of an inquiry. I was wondering if there is a way to specify a title when using display_profiles()? Also, specifying x-y axis labels for the radial profile plot? And is there a way to define the maxradius to display? When looking at the source code I see several options to define these parameters, but when I try to make my plot I am not receiving the desired outputs.

[2022-01-16 19:20] vandalt opened #485 "Error with Astropy quantity comparison in `CompoundAnalyticOptic`"
When running the code below to create a for a `CompoundAnalyticOptic` object in the [POPPY quickstart notebook](https://nbviewer.org/github/spacetelescope/poppy/blob/stable/notebooks/POPPY_tutorial.ipynb),

[code]

I get an error about an Astropy quantity being compared with a non-quantity object.

The error in POPPY occurs at the [`self.pupil_diam = max(self.pupil_diam, optic.pupil_diam)`](https:

[2022-01-28 14:43] shanosborne opened #488 "Fix hanging numexpr test"
`test_basic_multiprocessing` is currently hanging on the `py38-numexpr-mkl-cov` tox test (consistently on the CI, occasionally locally). It also hung once on the `py39-syn-cov` build on CI.

This test has been marked as xfail for now due to higher priorities, but we should come back to it and figure out why this is happening.

[2022-02-09 15:47] MTLeist255 opened #492 "Poppy Utility Functions Issues"
Greetings, I am attempting to use the following functions 'display_ee, radial_profile, display_profiles' to measure and display the FWHM, radial profile, and encircled energies of a few model inputs and have run into the following issues I was hoping to get some help in resolving.

1) **_display_ee_**: Not displaying radial percentages and values, unable to add a title
<img width="385" alt="Screen

[2022-02-16 16:47] vandalt commented on #483
Fixed by #493

[2022-02-16 16:47] #483 closed, assigned to nobody

[2022-02-16 16:51] mperrin commented on #492
Hi Mason, Thanks for the issue report. Apologies for not having time to respond right now - right now all of us who develop & maintain poppy are excitingly busy commissioning a 6.5 meter space telescope. Thanks for your understanding and patience!

For examples of how to format FITS files, you can look at any of the output PSF files as produced by poppy itself.  Looking at your plots above it seem

[2022-03-08 21:16] MTLeist255 commented on #492
Hi mperrin, I was wondering if there is an updated version of this code available? I've normalized my PSFs to a total intensity = 1.0, but am having trouble returning accurate FWHM measurements in the presence of noise. This tool works well if measuring the radial profile, encircled energy and FWHM of a WebbPSF generated image, but fails when trying to measuring a MIRISim simulated image. I was wo

[2022-04-01 21:31] tepickering opened #502 "factorial() won't accept floats in python >=3.10"
i added python 3.10 to my test matrices and i get failures due to `poppy`. the specific error is:
[code]
`factorial()` won't accept floats as of python 3.10: https://docs.python.org/3/library/math.html#math.factorial.

[2022-04-01 21:44] mperrin commented on #502
Hey Tim, yes this is fixed in the current dev version, so just grab the current source from here on GitHub and you should be good to go. Was fixed in a recent PR, though we haven't gotten around to doing a release yet (It's been a little busy this month, in a very good way :-)  But since we've gotten a couple messages on this issue this week alone, clearly we probably ought to get one out before t

[2022-04-01 21:47] mperrin commented on #502
@shanosborne See above, and I got an email yesterday on this same issue from @goudfroo too. We may want to fit in a poppy release sometime soon, for compatibility with python 3.10's factorial function changes.

[2022-04-01 21:54] tepickering commented on #502
sounds good. i'm using 3.9 in production so not a huge deal. i also have the 3.10 tests set to allow failure.

[2022-04-04 17:22] shanosborne commented on #502
@mperrin Good idea, I'm happy to work on a poppy release whenever we have time. We can drop 3.7 support and add 3.10  in the CI to go along with that release. I'll work on PRs for that for webbpsf and poppy

[2022-04-26 20:01] brantr commented on #502
Just re-upping that this is still a blocking issue for Python 3.10 as poppy v1.0.2 is still current via pip, prevents users from running the WebbPSF demo at https://webbpsf.readthedocs.io/en/stable/usage.html

[2022-05-20 09:44] esoria22 opened #504 "Keyword pupilscale doesn´t work anymore"
I am defining a custom optic from an analytic function from a FITS file, and the keyword _pupilscale_ (which is explained in the docs file [https://poppy-optics.readthedocs.io/en/latest/extending.html]) doesn't work. It gives me this error message:
OpticalElement.__init__(self, name=name, **kwargs)

TypeError: __init__() got an unexpected keyword argument 'pupilscale'

It is due to a new update in

[2022-06-17 15:40] jrhastro commented on #502
@shanosborne @mperrin Will email off-thread, but I would like to re-up this issue as well.  This is currently a blocking issue for an upcoming release of Roman STIPS.

[2022-06-30 20:20] ojustino commented on #502
I'm closing this issue because the fix should be in today's new release of `poppy`, version 1.0.3.

[2022-06-30 20:20] #502 closed, assigned to nobody

[2022-07-14 20:30] qlmlp opened #515 "poppy pytest error"

[2022-07-14 22:07] qlmlp commented on #515
I had run the example on Jupyter, and all of them work except one example, and I have checked my poppy version is 1.0.3. Do you think v- 1.0.2 can solve this problem?
**A complex segmented pupil**
### By combining multiple analytic optics together it is possible to create quite complex pupils:
In [4]:

plt.figure(figsize=(16,12))
​
ap = poppy.MultiHexagonAperture(rings=3, flattoflat=2)           #

[2022-07-21 00:12] Jordan-Dennis opened #516 "Does `FresnelWavefront.apply_lens_power` have inaccessible `if` branches?"
Hi all,
My question pertains to the following snippet of code from `FresnelWavefront.apply_lens_power`.
[code]
Specifically, I believe that the `if (self.z - self.z_w0) == 0:` in the `else` branch of the outer `if` statement is not reachable. If I have interpreted it correctly, `(self.z - self.z_w0) == 0` implies that the wavefront is at the waist, where it is planar. Under this assumption the `el

[2022-07-21 00:33] Jordan-Dennis commented on #516
Hello again,
Upon further review I believe that I may have spotted a second inconsistency in if the wavefront is considered spherical. The line `np.abs(self.z - self.z_w0) < (or >) self.z_r` seems to be used to determine if the wavefront is spherical or planar at many `if` statement branches. However, the _top_ `if` statement of the same function uses `np.abs(self.z_w0 - self.z) > self.rayleigh_fa

[2022-08-09 00:20] maxwellmb opened #519 "New python 3.10 error in zernike.py"
In python 3.10 the math.factorial function throws an error when a float is input.
For me this is now throwing an error at line 423 in zernike.py

My guess is that if you force the input to be an integer then it'll be happy.

[2022-08-09 02:47] mperrin commented on #519
Hi Max, please check if you’re using the most recent poppy release (1.0.3). This issue was fixed a while ago in this PR: https://github.com/spacetelescope/poppy/pull/493
So if you update to the most recent release you should have the fixed version. Cheers!

[2022-08-09 18:18] maxwellmb commented on #519
d'oh! I was on 1.0.2. I upgraded and it works now.

[2022-08-09 18:18] #519 closed, assigned to nobody

[2022-09-06 09:04] gkstmdwn opened #523 "Can you translate/tilt a mirror in poppy.OpticalSystem Class?"
I want to see how translating/tilting a mirror affects the PSF/WFE in an Optical System with more than 1 mirrors

[2022-09-09 19:22] mperrin commented on #523
Yes, in general these can be modeled, though the details of how best to do so depends on the specific optical element class being used. Many of the optical element classes support translation and rotation via setting attributes `optic.shift_x` or `.shift_y` or `.rotation` (for rotation around the optical axis). For tilts, you can use the TiltOpticalPathDifference class, or the  TipTiltStage class

[2022-09-12 12:30] Teusia opened #526 "Simple optical system aliasing, known behaviour or issue?"
Dear all,

I ran into a behaviour I would qualify as weird, but maybe I am just using poppy the wrong way.
If I use a large field of view and a small wavelength, it looks like there is some fun Fourier transform aliasing happening.

![poppyAliasing](https://user-images.githubusercontent.com/46994727/189638077-cf59b388-95f8-4c30-838c-c6611234ab81.png)

This is the code I used to produce the above P

[2022-09-12 19:05] mperrin commented on #485
Thanks very much for this error report, and the informative & useful debugging details in your note above. Much appreciated. I've fixed this in the PR #527.

(And apologies it took so long to reply to this - as you may know, we were commissioning a segmented space telescope this spring ;-) and everything else not related to that was set aside while that was going on. Thanks for understanding!)

[2022-09-12 21:33] #485 closed, assigned to nobody

[2022-11-02 03:37] different-world opened #533 "Can poppy calculate the wavefront between off-axis freeform surfaces？"
Can poppy calculate the wavefront between off-axis freeform surfaces？

[2022-11-08 21:11] #515 closed, assigned to nobody

[2022-11-09 16:40] qlmlp opened #534 "Can poppy set the max and min value when using the wave.display?"
I would like to know if there is any source code for this wave [1].display.  Or is there any way I can change the colorbar value scale, like changing the left colorbar the same as the right?
waves[1].display(what='phase', colorbar=True,title = "Wavefront center")
<img width="602" alt="Screen Shot 2022-11-09 at 11 38 44 AM" src="https://user-images.githubusercontent.com/106215958/200888282-2bc91a4e

[2022-11-09 16:47] mperrin commented on #534
Hi, I think that function call lets you pass in `vmin=`, `vmax=` to change the scale values, yes. Try like
`waves[1].display(what='phase', colorbar=True,title = "Wavefront center", vmin=0.090, vmax=0.452)`

[2022-11-14 15:43] mperrin opened #535 "Update Python versions supported"
Astropy will drop python 3.8 support in March 2023; we should follow along then, and drop that from the supported version and the CI.

Conversely we should add python 3.11 to the CI now that it's out.